* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;
}

#headerGrid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 300px;
    /* justify-items: center;
    align-items: center; */
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 5px black;
}

.star {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(255, 0, 212);
    border-radius: 50%;
    pointer-events: none;
    transform-origin: center;
}

.box1 {
    padding-top: 30px;
    justify-self: center;
}

.box2 {
    /* background-color: red; */
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.titulo {
    font-size: 30px;
}

.subtitulo {
    font-size: 15px;
}

.box3 {
    padding-top: 30px;
    justify-self: center;
}

.logo {
    width: 80px;
    height: auto;
}