.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#sectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.title {
    font-family: var(--ff-2);
    font-size: 80px;
}

.subtitle {
    font-family: var(--ff-2);
    font-size: 50px;
}

.sectionProjects {
    background-color: red;
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    place-items: center;
    gap: 50px;
    
}

.projectContainer {
    /* background-color: red; */
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectContainer p {
    font-size: 18px;
}

.image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.6s;
}

.image:hover {
    transform: scale(1.05);
}

.image:active {
    opacity: 0.3;
}

.sectionApps {
    background-color: red;
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    place-items: center;
    gap: 50px;
    
}

.appContainer {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gif {
    width: 100px;
    height: auto;
}

@media (min-width: 767px) {
    .title {
        font-size: 70px;
    }

    .sectionProjects {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
        place-items: center;
        gap: 50px 50px;
        
    }

    .projectContainer {
        width: 280px;
        height: 190px;
    }

    .projectContainer p {
        font-size: 22px;
    }

    .sectionApps {
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        place-items: center;
        gap: 50px 0px;
        
    }
}